
@font-face {
  font-family: 'FrutigerNextPro-Italic';
  src: url('FrutigerNextPro-Italic.eot?#iefix') format('embedded-opentype'),  url('FrutigerNextPro-Italic.otf')  format('opentype'),
	     url('FrutigerNextPro-Italic.woff') format('woff'), url('FrutigerNextPro-Italic.ttf')  format('truetype'), url('FrutigerNextPro-Italic.svg#FrutigerNextPro-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
